<template>
    <div class="wrapper">
      <div class="speakersContainer">
        <div class="speaker"></div>
      </div>
      <div class="screenContainer">
        <div class="eventLogScreen">
            <ul>
                <li v-for="log in logs" :key="log.id">{{log.data}}</li>
            </ul>
        </div>
        <div class="stateScreen">
            <div class="gate" ref="">
                <div class=gateBackgroundWrap>
                    <div class="gateBackground" :class="changeGateRepresent()"></div>
                </div>
            </div>
        </div>
        <div class="settingsContainer">
          <div class="closingDelayContainer">
            <label for="closingDelayInput">Closing delay</label>
            <input
              type="number"
              id="closingDelayInput"
              :value="closingDelay"
              @input="newClosingDelay"
            />
            <button
              class="closingDelayButton"
              @click="setClosingDelay"
            >
              Edit
            </button>
          </div>
          <div class="movementTimeContainer">
            <label for="movementTimeInput">Movement time</label>
            <input
              type="number"
              id="movementTimeInput"
              :value="movementTime"
              @input="newMovementTime"
            />
            <button
              class="movementTimeButton"
              @click="setMovementTime"
            >
              Edit
            </button>
          </div>
        </div>
        <div class="clearLogContainer">
          <button class="clearLog" @click="clearLog">Clear</button>
        </div>
      </div>
      <button
          class="mainButton"
          @click="mainButton"
      />
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import GateSystem from '@/gatesystem/GateSystem';
import { GateState, Subject, Data } from '@/gatesystem/types';

export default defineComponent({
  data(): Data {
    return {
      gateSystem: GateSystem.getInstance(),
      closingDelay: 0,
      movementTime: 0,
      currentState: null,
      logs: [],
    };
  },
  mounted(): void {
    this.gateSystem.eventManager.attach(this);
    this.closingDelay = this.gateSystem.getClosingDelay();
    this.movementTime = this.gateSystem.getMovementTime();
  },
  methods: {
    update(subject: Subject, state: GateState): void {
      this.currentState = state;
      this.logs.push({
        id: Date.now(),
        data: `GateSystem state has updated to ${this.currentState.constructor.name}`,
      });
    },
    mainButton(): void {
      this.gateSystem.handleMainButtonPress();
    },
    newClosingDelay(event: {target : HTMLInputElement}): void {
      this.closingDelay = Number(event.target.value);
    },
    setClosingDelay(): void {
      this.gateSystem.setClosingDelay(this.closingDelay);
      this.logs.push({
        id: Date.now(),
        data: `closingDelay has updated to ${this.closingDelay}`,
      });
    },
    newMovementTime(event: {target : HTMLInputElement}): void {
      this.movementTime = Number(event.target.value);
    },
    setMovementTime(): void {
      this.gateSystem.setMovementTime(this.movementTime);
      this.logs.push({
        id: Date.now(),
        data: `movementTime has updated to ${this.movementTime}`,
      });
    },
    clearLog(): void {
      this.logs = [];
    },
    changeGateRepresent(): string {
      return this.currentState ? this.currentState.constructor.name : 'ClosedState';
    },
  },
});
</script>

<style scoped lang="scss">
.wrapper {
  width: 375px;
  height: 600px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 10px;
  background-color: silver;

  .speakersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    height: 25px;
    margin: 0 auto;
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: gray;

    .speaker {
      width: 20%;
      height: 5px;
      margin: 0 auto;
      border: 1px solid black;
      border-radius: 10px;
      background-color: black;
    }
  }

  .screenContainer {
    width: 97.5%;
    height: 85%;
    margin: 5px auto;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;

    .eventLogScreen {
      margin: 5px auto;
      width: 99%;
      height: 45%;
      border-bottom: 1px solid silver;
      overflow-y: auto;

      ul {
        margin: 0;
        padding: 5px;

        li {
          list-style-type: none;
          text-align: left;
          border-bottom: 1px dotted lightgray;
        }
      }
    }

    .stateScreen {
      display: flex;
      justify-content: center;
      padding-bottom: 5px;
      border-bottom: 1px solid silver;

      .gate {
        height: 130px;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        background-color: silver;

        .gateBackgroundWrap {
          height: 130px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .gateBackground {
          height: 124px;
          width: 124px;

          &.ClosingState {
            background: url('../assets/ClosingStateGate.jpg');
          }

          &.ClosedState {
            background: url('../assets/ClosedStateGate.jpg');
          }

          &.OpeningState {
            background: url('../assets/OpeningStateGate.jpg');
          }

          &.OpenedState {
            background: url('../assets/OpenedStateGate.jpg');
          }
        }
      }
    }

    .settingsContainer {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid silver;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 50%;
        height: 26px;
        border: 1px solid black;
        padding-left: 5px;
      }

      button {
        height: 30px;
        border: 1px solid black;
        border-radius: 0 5px 5px 0;
        border-left: none;
        background-color: gray;
        color: white;
      }
    }
    .clearLogContainer {
      display: flex;
      justify-content: end;

      .clearLog {
        height: 30px;
        width: 100px;
        margin-top: 5px;
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: gray;
        color: white;
      }
    }
  }

  .mainButton {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background: linear-gradient(25deg, black, white);
    border-radius: 50%;
  }
}
</style>
