<template>
    <div class="wrapper">
        <div class="mainButtonContainer">
            <button
                class="mainButton"
                @click="mainButton"
            >
                Control button
            </button>
        </div>
    </div>
</template>

<script lang="ts">
import GateSystem from '@/gatesystem/GateSystem';
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      gateSystem: GateSystem.getInstance() as GateSystem,
    };
  },
  methods: {
    mainButton(): void {
      this.gateSystem.handleMainButtonPress();
    },
  },
});
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 600px;
  border: 1px solid black;
  background: linear-gradient(50deg, gray, silver);

  .mainButtonContainer {
    .mainButton {
      width: 250px;
      height: 50px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 1.5rem;
      box-shadow: 2px 2px 2px black;
    }
  }
}
</style>
