<template>
  <section class="parking-area">
    <div
      v-for="car in cars"
      :key="car.id"
      class="car"
      draggable="true"
      @dragstart="starDrag($event, car.id)"
    ></div>

    <div class="background">
      {{ areaName }}
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { Car } from '@/types';

export default defineComponent({
  props: {
    cars: {
      type: Array as PropType<Car[]>,
      required: true,
    },
    areaName: {
      type: String,
      default: 'Parking Area',
    },
  },

  methods: {
    // TODO: Add a correct event type
    starDrag(e: any, id: number): void {
      e.dataTransfer.dropEffect = 'move';
      e.dataTransfer.effectAllowed = 'move';
      e.dataTransfer.setData('carID', id.toString());
    },
  },
});
</script>

<style lang="scss" scoped>
  .parking-area {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    position: relative;
    padding: 10px;

    .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      padding-top: 85px;
      overflow: hidden;
      text-align: center;
      color: #ccc;
    }

    .car {
      background: url('../../assets/car.jpg') center/cover;
      width: 100px;
      height: 70px;
    }
  }
</style>
