<template>
  <section class="parking">
    <ParkingArea
      :cars="preParkingCars"
      areaName="Pre-Parking"
      class="pre-parking-area"
      @drop="onCarDropped('Pre-Parking', $event)"
      @dragover.prevent
      @dragenter.prevent
    />
    <ParkingArea
      :cars="gateCars"
      areaName="Gate"
      class="gate-area"
      @drop="onCarDropped('Gate', $event)"
      @dragover.prevent
      @dragenter.prevent
    />
    <ParkingArea
      :cars="afterParkingCars"
      areaName="After-Parking"
      class="after-parking-area"
      @drop="onCarDropped('After-Parking', $event)"
      @dragover.prevent
      @dragenter.prevent
    />
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { Car } from '@/types';
import ParkingArea from '@/components/parking/ParkingArea.vue';

export default defineComponent({
  components: {
    ParkingArea,
  },

  props: {
    cars: {
      type: Array as PropType<Car[]>,
      required: true,
    },
  },

  computed: {
    preParkingCars(): Car[] {
      return this.cars.filter((car) => car.area === 'Pre-Parking');
    },
    gateCars(): Car[] {
      return this.cars.filter((car) => car.area === 'Gate');
    },
    afterParkingCars(): Car[] {
      return this.cars.filter((car) => car.area === 'After-Parking');
    },
  },

  methods: {
    // TODO: Add a correct event type
    onCarDropped(area: string, e: any): void {
      const carID: number = parseInt(e.dataTransfer.getData('carID'), 10);

      this.$emit('car-dropped', carID, area);
    },
  },
});
</script>

<style lang="scss" scoped>
  * {
    box-sizing: border-box;
  }

  .parking {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    width: 700px;
    height: 220px;
    padding: 10px;
  }
</style>
