<template>
  <div id="app">
    <div class="controls">
      <WorkStation />
      <Device />
    </div>
    <Parking
      @car-dropped="onCarDropped"
      :cars="cars"
      class="parking"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import WorkStation from '@/components/WorkStation.vue';
import Device from '@/components/Device.vue';
import Parking from '@/components/parking';

export default defineComponent({
  components: {
    WorkStation,
    Device,
    Parking,
  },

  data() {
    return {
      cars: [{ id: Date.now(), area: 'Pre-Parking' }],
    };
  },

  methods: {
    onCarDropped(droppedCarID: number, area: string): void {
      const car: any = this.cars.find(({ id }) => id === droppedCarID);

      car.area = area;
    },
  },
});
</script>

<style lang="scss">
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .parking {
    .controls {
      display: flex;
      justify-content: space-around;
    }

    .parking-area {
      margin: 5px auto;
    }
  }
}
</style>
